:root{
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    
}

body {
    
    background: linear-gradient(45deg, #190361 0%, #BB00FF 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.div1 {
    background-color: #fff;
    box-shadow: 0px 2rem 50rem rgba(0, 0, 0, .8);
    border-radius: .5rem;
    width: 42.8rem;
    height: 42.4rem;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div {
    background-color: #fff;
    border-radius: .5rem;
    width: 42.8rem;
    height: 42.4rem;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.hide {
    display: none;
}

h1, p {
    color: #34355B;
}

h1{
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.4rem;
    font-weight: bold;
    line-height: 2.9rem;
    margin-top: 4.8rem;
}

p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-family: 'DM Sans', sans-serif;
}

img {
    width: 30rem;
    height: 20rem;
    margin: 0px auto 0px;
    cursor: pointer;
}

.cook {
    display: inline-block;
    position: relative;
  }

.cook img {
    transition: transform 0.2s ease-out;
  }

.cook:hover img {
    transform: rotate(-2deg);
    animation: tremendo 1s ease-in-out infinite;
}

@keyframes tremendo {
    0% { transform: rotate(-2deg); }
    10% { transform: rotate(2deg); }
    20% { transform: rotate(-2deg); }
    30% { transform: rotate(2deg); }
    40% { transform: rotate(-2deg); }
    50% { transform: rotate(2deg); }
    60% { transform: rotate(-2deg); }
    70% { transform: rotate(2deg); }
    80% { transform: rotate(-2deg); }
    90% { transform: rotate(2deg); }
    100% { transform: rotate(-2deg); }
  }



/*screen 2*/

.div2{
    width: 42.8rem;
    height: 56.4rem;
    /*padding: 4.8rem 6.4rem;*/
    text-align: center;
    position: relative;
}

.img2, .img3{
    margin-top: 1.7rem;
}

button {
    margin: 1.7rem auto 4.8rem;
    border: none;
    border-radius: 4px;
    background-color: #FF9500;
    color: #fff;
    font-size: 1.5rem;
    font-family: 'DM Sans', sans-serif;
    line-height: 1.9rem;
    padding: 1.6rem;
}


.img2 {
    position: absolute;
    left: 157px;
    top: 185px;
    width: 100px;
    height: 50px;
    animation: aumentar 1.4s ease-in-out forwards;
  }
  
  @keyframes aumentar {
    0% {
      transform: scale(0.8);
      top: 250px;
    }
    100% {
      transform: scale(2.9);
    }
  }